<div class="view">
  <div class="container">
    <header>
      <h3><span class="glyphicon glyphicon-"></span>Join Game</h3>
    </header>
    <br />
    <form class="login-form" novalidate>
      <div class="login">
        <div class="row">
          <div class="col-md-2">
            Name:
          </div>
          <div class="col-md-10">
            <input type="Name" name="Name" class="form-control" formControlName="Name" />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <!--<button type="submit" class="btn btn-success">Join</button>-->
            <a (click)="joinGame()">Join</a>
          </div>
        </div>
        <br />
      </div>
    </form>

  </div>
</div>
